<% flash.each do |key, value| %>
  <div class="flash <%= key %>"><%= value %></div>
<% end %>

<li class="inline_forms_new_record_link">
  <%= inline_forms_new_record_link %>
</li>
<%= inline_forms_list(@objects) %>
<%= will_paginate @objects %>
<div id="paginate_info"><%= page_entries_info @objects %></div>
