<% @default_message = 'provide_email_and_we_send_instructions' -%>
<%= render :partial => "devise/shared/header_and_errors" %>

<div id="sign_in">
  <div id="sign_in_form">
    <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
      <br /> <%= f.email_field :email %><br /><br />
      <div><%= f.submit t("inline_forms.devise.send_instructions") %></div>
    <% end %>
  </div>
</div>

<%= render :partial => "devise/shared/links" %>
