<% @flash = flash %>
<%= render 'top-bar-and-flash' %>

<div class="row" id='inline_forms_devise_header_row'>
  <div class="small-11 centered column">
    <h1><%= t('inline_forms.devise.passwords.change_your_password') %></h1>
  </div>
</div>

<div id='inline_forms_devise_container' class="row">

  <div id='inline_forms_devise_form_column' class="large-5 columns">

    <%= form_for(resource,  as:   resource_name,
                            url:  password_path(resource_name),
                            html: { method: :put,
                                    id: 'inline_forms_devise_form'
                                  }
                ) do |f| %>

      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="row">
        <div class="columns">
          <%  new_password_label  = "New password"
              new_password_label += " <em>(#{@minimum_password_length} characters minimum)</em>" if @minimum_password_length
            %>
          <%= f.label :password, new_password_label.html_safe %>
          <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
        </div>
      </div>

      <div class="row">
        <div class="columns">
          <%= f.label :password_confirmation, "Confirm new password" %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </div>

      <div class="row">
        <div class="columns text-right">
          <%= f.submit t('inline_forms.devise.passwords.change_my_password'), class: 'button' %>
        </div>
      </div>

    <% end %>

  </div>

  <div id='inline_forms_devise_content_column' class="large-7 columns">

    <div class="hide-for-large-up row text-centered">
      <hr />
    </div>

    <div id='inline_forms_devise_content' class="row">
      <%= render '/devise/inline_forms/content_for_passwords_edit' %>
    </div>

  </div>




</div>
