<%= form_for(resource,  as:  resource_name,
                        url: session_path(resource_name),
                        html: { id:  'inline_forms_devise_form' }
            ) do |f| %>

  <div class="row">
    <div class="columns">
      <label><%= t :email %></label>
      <%= f.email_field :email %>
    </div>
  </div>

  <div class="row">
    <div class="columns">
      <label><%= t :password %></label>
      <%= f.password_field :password %>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="row">
      <div class="small-5 columns lower">
        <%= f.check_box :remember_me %><label><%= t :remember_me %></label>
      </div>
      <div class="small-7 columns text-right">
        <%= f.submit :login, class: 'button' %>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="columns text-right">
        <%= f.submit :login, class: 'button' %>
      </div>
    </div>
  <% end -%>


  <div class="row">
    <div class="columns">
      <%= render :partial => "devise/shared/links" %>
    </div>
  </div>

<% end %>
