<% @default_message = 'login_with_email_and_password' -%>
<%= render :partial => "devise/shared/header_and_errors" %>

<div id="sign_in">
  <div id="sign_in_form">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <br /> <%= f.email_field :email %><br />
      <%= f.password_field :password %><br />
      <p><%= f.submit t("inline_forms.devise.sign_in") %></p>
    <% end %>
  </div>
</div>
<%= render :partial => "devise/shared/links" %>
