<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic' rel='stylesheet' type='text/css' />
    <title><%= t('application_name') + " v" + InlineForms::VERSION -%></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div id="devise-header"class="row">
      <div class="small-6 small-centered columns">
        <%= image_tag 'devise_header.png' %>
      </div>
    </div>

    <%= yield %>

    <div id="devise-footer" class="row">
      <div class="small-6 columns">
        <%= image_tag 'devise_footer_left.png' %>
      </div>
      <div class="small-6 columns">
        <%= image_tag 'devise_footer_right.png' %>
      </div>
    </div>

    <%= javascript_include_tag "application" %>

  </body>
</html>
