<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic' rel='stylesheet' type='text/css' />

    <title><%= t('application_name') + " v" + InlineForms::VERSION -%></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render "inline_forms/header" %>
    <%= render "/inline_forms_tabs" %>
    <%= yield %>
    <%= javascript_include_tag 'application', 'inline_forms_application' %>
  </body>
</html>
