<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h( yield(:title) || "Unconfigured Titile") %></title>
    <%= stylesheet_link_tag 'inline_forms_application', 'application' %>
    <%= javascript_include_tag 'application', 'inline_forms_application' %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
    <script>
      $.datepicker.setDefaults({
        dateFormat: 'dd-mm-yy',
        changeMonth: true,
        changeYear: true,
        showOtherMonths: true,
        selectOtherMonths: true,
        showButtonPanel: false,
        showWeek: true,
        firstDay: 1,
        prevText: '<<',
        nextText: '>>'
      })
    </script>
  </head>
  <body>
    <%= render "inline_forms/header" %>
    <%= render "/inline_forms_tabs" %>
    <div id="inline_forms_main_list">
      <%= yield %>
    </div>
  </body>
</html>
