<% @default_message = 'signup_with_email_name_and_password' -%>
<%= render :partial => "devise/shared/header_and_errors" %>

<div id="sign_in">
  <div id="sign_in_form">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <div class="float_right"><%= f.label :name %>&nbsp;&nbsp;<%= f.text_field :name %></div>
      <div style="clear: both"></div>
      <div class="float_right"><%= f.label :email %>&nbsp;&nbsp;<%= f.email_field :email %></div>
      <div style="clear: both"></div>
      <div class="float_right"><%= f.label :password %>&nbsp;&nbsp;<%= f.password_field :password %></div>
      <div style="clear: both"></div>
      <div class="float_right"><%= f.label :password_confirmation %>&nbsp;&nbsp;<%= f.password_field :password_confirmation %></div>
      <div style="clear: both"></div>
      
      <div><%= f.submit t("inline_forms.devise.sign_up") %></div>
    <% end %>
  </div>
</div>

<%= render :partial => "devise/shared/links" %>

