<div class="contain-to-grid fixed">
  <nav id='inline_forms_application_header' class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="#"><%= application_title %> v<%= inline_forms_version %></a></h1>
      </li>
      <li class="toggle-topbar menu-icon">
        <a href="#"><span></span></a>
      </li>
    </ul>
    <section class="top-bar-section" id="logout">
      <ul class="right">
        <li class="has-dropdown">
          <a href="#"><%= current_user.name %></a>
          <ul class="dropdown">
            <li>
              <%= link_to("Afmelden...", destroy_user_session_path, :method => :delete) if current_user  %>
            </li>
          </ul>
        </li>
        <li class="has-dropdown">
          <a href="#">Models</a>
          <ul class="dropdown">
            <% MODEL_TABS.each do |m| %>
            <% model = m.singularize.camelcase.constantize rescue nil %>
            <% unless model.nil? || model.not_accessible_through_html? %>
            <% if can? m.to_sym, :clients %>
            <li>
              <%= link_to model.model_name.human, m %>
            </li>
            <% end %>
            <% end %>
            <% end %>
          </ul>
        </li>
      </ul>
    </section>

  </nav>
</div>
