<li id="newnew">
  <% flash.each do |key, value| %>
    <div id="flash" class="flash <%= key %>">
      <ul>
        <% value.each do |m| %>
          <li><%= m %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <script type="text/javascript">
    $(function() { $("#flash").delay(1000).fadeTo('slow', 0.33); } );
  </script>
  <%= form_tag  send(@Klass.to_s.underscore.pluralize + '_path', :update => @update_span,
    :parent_class => @parent_class,
    :parent_id => @parent_id ),
    :multipart => true, :remote => true, :class  => "edit_form"  do -%>
    <div class="edit_form_field">
      <table cellspacing="0" cellpadding="0">
        <tr>
          <th colspan="2" valign="top">
            <div class="object_presentation" >
              <%= t('inline_forms.view.add_new', :model => @Klass.model_name.human ) -%>
            </div>
          </th>
        </tr>
        <% attributes = @inline_forms_attribute_list || @object.inline_forms_attribute_list -%>
        <% attributes.each do | attribute, name, form_element | -%>
          <% unless form_element.to_sym == :associated || (cancan_enabled? && cannot?(:read, @Klass.to_s.underscore.pluralize.to_sym, attribute)) -%>
            <% css_class_id = "attribute_#{attribute}_#{@object.id}" -%>
            <% if form_element == :header %>
              <tr>
                <td valign="top" class="header" colspan="2">
                  <div class='<%= "attribute_name attribute_#{attribute} form_element_#{form_element}" -%>' >
                    <%= @object.class.human_attribute_name(attribute) -%>
                  </div>
                </td>
              </tr>
            <% else %>
              <tr>
                <td valign="top" class="<%= 'has_validations ' if @object.has_validations_for?(attribute) -%>" validation-hint="<%= validation_hints_as_list_for(@object, attribute) -%>">
                  <div class='<%= "attribute_name attribute_#{attribute} form_element_#{form_element}" -%>' >
                    <%= @object.class.human_attribute_name(attribute) -%>
                  </div>
                </td>
                <td valign="top">
                  <div class='<%= "attribute_value attribute_#{attribute} form_element_#{form_element}" -%>' >
                    <span id="<%= css_class_id -%>" >
                      <%= send("#{form_element}_edit", @object, attribute) -%>
                    </span>
                  </div>
                </td>
              </tr>
            <% end -%>
          <% end -%>
        <% end -%>
      </table>
    </div>
    <%= link_to( send(@Klass.to_s.underscore.pluralize + '_path', :update => @update_span,
        :parent_class => @parent_class,
        :parent_id => @parent_id ),
      :remote => true,
      :class  => "edit_form_cancel" ) do  %>
      <input type="button" name="cancel" value="cancel" />
    <% end %>
    <%= submit_tag "ok", :class => "edit_form_submit"-%>
    <div style="clear: both;"></div>
  <% end %>
</li>
<script type="text/javascript">
  $(function() { $("#newnew").slideDown(4000); } );
</script>
