<div id="large_title"><%= application_name -%></div>
<div id="flash_message">
  <%= devise_error_messages!.empty? ? t('provide_email_and_we_send_instructions') : devise_error_messages! -%>
</div>

<div id="sign_in">
  <div id="sign_in_form">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      <br /> <%= f.email_field :email %><br /><br />
      <div><%= f.submit "Send me instructions" %></div>
    <% end %>
  </div>
</div>
<div id="shared_links">
  <%= render :partial => "devise/shared/links" %>
</div>

