<!DOCTYPE html>
<html>
<head>
  <title><%= application_title -%> v<%= inline_forms_version -%></title>
  <%= stylesheet_link_tag 'devise' %>
  <%#= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
