<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <%= t('inline_forms.general.application_title') %> v<%= InlineForms::VERSION %>
    </title>
    <%= stylesheet_link_tag "inline_forms/devise" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="inline_forms_devise_outer_container">
      <%= yield %>
    </div>
  </body>
</html>
